_PresentationLayer/Service References/MusteriServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Musteri" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_DataLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_BusinessLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMusteri_CustomerAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAdd" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerDelete" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpdate" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMusteri_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMusteri_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerAsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAsJson" />
  </wsdl:message>
  <wsdl:message name="IMusteri_CustomerAsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAsJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IMusteri">
    <wsdl:operation name="CustomerAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusteri/CustomerAdd" message="tns:IMusteri_CustomerAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusteri/CustomerAddResponse" message="tns:IMusteri_CustomerAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusteri/CustomerDelete" message="tns:IMusteri_CustomerDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusteri/CustomerDeleteResponse" message="tns:IMusteri_CustomerDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusteri/CustomerUpdate" message="tns:IMusteri_CustomerUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusteri/CustomerUpdateResponse" message="tns:IMusteri_CustomerUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusteri/Login" message="tns:IMusteri_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusteri/LoginResponse" message="tns:IMusteri_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusteri/CustomerAsJson" message="tns:IMusteri_CustomerAsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusteri/CustomerAsJsonResponse" message="tns:IMusteri_CustomerAsJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Musteri" />
</wsdl:definitions>