_PresentationLayer/Service References/BiletSatisServiceReference/_DataLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TicketSale">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfPurchase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalTicket" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketSale" nillable="true" type="tns:TicketSale" />
  <xs:complexType name="ArrayOfTicketSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketSale" nillable="true" type="tns:TicketSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketSale" nillable="true" type="tns:ArrayOfTicketSale" />
</xs:schema>