_PresentationLayer/Service References/BiletSatisServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BiletSatis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_DataLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBiletSatisi_KategoriEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:KategoriEkle" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_KategoriEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:KategoriEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_TicketSaleDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:TicketSaleDelete" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_TicketSaleDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:TicketSaleDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_TicketSaleUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:TicketSaleUpdate" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_TicketSaleUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TicketSaleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_TicketAsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:TicketAsJson" />
  </wsdl:message>
  <wsdl:message name="IBiletSatisi_TicketAsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:TicketAsJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IBiletSatisi">
    <wsdl:operation name="KategoriEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiletSatisi/KategoriEkle" message="tns:IBiletSatisi_KategoriEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiletSatisi/KategoriEkleResponse" message="tns:IBiletSatisi_KategoriEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TicketSaleDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiletSatisi/TicketSaleDelete" message="tns:IBiletSatisi_TicketSaleDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiletSatisi/TicketSaleDeleteResponse" message="tns:IBiletSatisi_TicketSaleDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TicketSaleUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiletSatisi/TicketSaleUpdate" message="tns:IBiletSatisi_TicketSaleUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiletSatisi/TicketSaleUpdateResponse" message="tns:IBiletSatisi_TicketSaleUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TicketAsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiletSatisi/TicketAsJson" message="tns:IBiletSatisi_TicketAsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiletSatisi/TicketAsJsonResponse" message="tns:IBiletSatisi_TicketAsJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BiletSatis" />
</wsdl:definitions>