_PresentationLayer/Service References/FilmServiceReference/_DataLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Movy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:Genre" />
      <xs:element minOccurs="0" name="GenreId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisionFinishD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisionStartD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movy" nillable="true" type="tns:Movy" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenreId" type="xs:int" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Movies" nillable="true" type="tns:ArrayOfMovy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfMovy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movy" nillable="true" type="tns:Movy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovy" nillable="true" type="tns:ArrayOfMovy" />
  <xs:complexType name="ArrayOfSP_GetMovieByGender_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_GetMovieByGender_Result" nillable="true" type="tns:SP_GetMovieByGender_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSP_GetMovieByGender_Result" nillable="true" type="tns:ArrayOfSP_GetMovieByGender_Result" />
  <xs:complexType name="SP_GetMovieByGender_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisionFinishD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisionStartD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SP_GetMovieByGender_Result" nillable="true" type="tns:SP_GetMovieByGender_Result" />
</xs:schema>