_PresentationLayer/Service References/FilmServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/_DataLayer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" />
  <xs:element name="MovieAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_DataLayer" minOccurs="0" name="movie" nillable="true" type="q1:Movy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" minOccurs="0" name="MovieAddResult" nillable="true" type="q2:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/_DataLayer" minOccurs="0" name="movie" nillable="true" type="q3:Movy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" minOccurs="0" name="MovieDeleteResult" nillable="true" type="q4:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/_DataLayer" minOccurs="0" name="movie" nillable="true" type="q5:Movy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" minOccurs="0" name="MovieUpdateResult" nillable="true" type="q6:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filmbul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filmadi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filmbulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" minOccurs="0" name="filmbulResult" nillable="true" type="q7:ArrayOfMovieRestList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieAsJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieAsJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" minOccurs="0" name="MovieAsJsonResult" nillable="true" type="q8:ArrayOfMovieRestList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="First">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/_DataLayer" minOccurs="0" name="FirstResult" nillable="true" type="q9:ArrayOfSP_GetMovieByGender_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>