_PresentationLayer/Service References/PersonelServiceReference/_DataLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Emplooye">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmplooyeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmplooyeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmplooyeSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmplooyeTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emplooye" nillable="true" type="tns:Emplooye" />
  <xs:complexType name="ArrayOfEmplooye">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emplooye" nillable="true" type="tns:Emplooye" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmplooye" nillable="true" type="tns:ArrayOfEmplooye" />
</xs:schema>