_PresentationLayer/Service References/PersonelServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Personel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_DataLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/_BusinessLayer.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonel_EmplooyesAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:EmplooyesAdd" />
  </wsdl:message>
  <wsdl:message name="IPersonel_EmplooyesAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmplooyesAddResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonel_OgretmenSil_InputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenSil" />
  </wsdl:message>
  <wsdl:message name="IPersonel_OgretmenSil_OutputMessage">
    <wsdl:part name="parameters" element="tns:OgretmenSilResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonel_UpdateExam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExam" />
  </wsdl:message>
  <wsdl:message name="IPersonel_UpdateExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExamResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonel_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPersonel_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonel_EmplooyeAsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:EmplooyeAsJson" />
  </wsdl:message>
  <wsdl:message name="IPersonel_EmplooyeAsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmplooyeAsJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonel">
    <wsdl:operation name="EmplooyesAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonel/EmplooyesAdd" message="tns:IPersonel_EmplooyesAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonel/EmplooyesAddResponse" message="tns:IPersonel_EmplooyesAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OgretmenSil">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonel/OgretmenSil" message="tns:IPersonel_OgretmenSil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonel/OgretmenSilResponse" message="tns:IPersonel_OgretmenSil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonel/UpdateExam" message="tns:IPersonel_UpdateExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonel/UpdateExamResponse" message="tns:IPersonel_UpdateExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonel/Login" message="tns:IPersonel_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonel/LoginResponse" message="tns:IPersonel_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmplooyeAsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonel/EmplooyeAsJson" message="tns:IPersonel_EmplooyeAsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonel/EmplooyeAsJsonResponse" message="tns:IPersonel_EmplooyeAsJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Personel" />
</wsdl:definitions>