_PresentationLayer/Service References/CinsiyetServiceReference/_DataLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGender" nillable="true" type="tns:ArrayOfGender" />
  <xs:complexType name="Gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenderId" type="xs:int" />
      <xs:element minOccurs="0" name="GenderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
</xs:schema>